127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# CentOS/RHEL YUM mirror hosts
198.15.78.42    centos-distro.cavecreek.net
152.1.2.172     ftp.linux.ncsu.edu
18.7.29.125     mirrors.mit.edu
104.219.172.11  mirror.hostduplex.com
173.214.244.24  mirror.centos.org
129.105.164.164 mirror.sesp.northwestern.edu
67.211.161.12   mirror.cisp.com
193.72.216.2    centos.sonn.com
198.49.95.5     mirror.datto.com
208.69.120.125  mirror.us-midwest-1.nexcess.net
209.58.153.1    mirror.dal10.us.leaseweb.net
64.31.0.51      centos.mirror.lstn.net
173.231.129.130 mirrors.lga7.us.voxel.net
173.243.16.24   mirror.millry.co
198.145.21.9    mirrors.kernel.org
129.21.171.72   mirrors.rit.edu
198.50.239.20   centos.blazar.mx
108.61.5.83     centos.mirror.constant.com
64.50.236.218   centos.mirrors.tds.net
104.222.16.60   mirror.5ninesolutions.com
209.208.0.134   mirror.atlantic.net
208.85.242.118  mirror.san.fastserv.com
103.25.61.44    mirror.compevo.com
128.200.84.11   mirrors.oit.uci.edu
104.153.153.222 mirror.sigmanet.com

# Internal hosts we want to ensure ALWAYS resolve
10.27.100.4		idm.shackspacehosting.com
10.27.100.10	awx.shackspacehosting.com

10.27.100.20    etcd-01.origin.cary.shackspacehosting.com
10.27.100.21    etcd-02.origin.cary.shackspacehosting.com
10.27.100.22    etcd-03.origin.cary.shackspacehosting.com

10.27.100.31    master-01.origin.cary.shackspacehosting.com
10.27.100.41    master-02.origin.cary.shackspacehosting.com
10.27.100.32    node-01.origin.cary.shackspacehosting.com
10.27.100.42    node-02.origin.cary.shackspacehosting.com
10.27.100.33    node-03.origin.cary.shackspacehosting.com
10.27.100.43    node-04.origin.cary.shackspacehosting.com
10.27.100.34    node-05.origin.cary.shackspacehosting.com
10.27.100.44    node-06.origin.cary.shackspacehosting.com
10.27.100.35    node-07.origin.cary.shackspacehosting.com
10.27.100.45    node-08.origin.cary.shackspacehosting.com
10.27.100.36    node-09.origin.cary.shackspacehosting.com
10.27.100.46    node-10.origin.cary.shackspacehosting.com

10.27.100.5		core-01.cary.shackspacehosting.com
10.27.110.5     nfs-01.cary.shackspacehosting.com nfs-registry.san.origin.cary.shackspacehosting.com nfs-metrics.san.origin.cary.shackspacehosting.com nfs-logging.san.origin.cary.shackspacehosting.com nfs-01.cary.shackspacehosting.com


